
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ExperIklimdendirmeApp.Models
@model Customer

<div class="row">
    <div class="col-md-12">
        <div class="col-lg-12">
            <div class="form-group m-form__group row">
                <div class="col-lg-4">
                    <h2>Yeni Müşteri Ekleme</h2>
                </div>
                <div class="col-lg-8">
                    @*@if (TempData["Message"] != null)
                                    {
                        @Html.Partial("_mesaj", (string)TempData["Message"])}*@
                </div>
            </div>
        </div>
    </div>
</div>

<br />
@using (Html.BeginForm())
{

    <div class="row">

        <div>
            <div class="form-group m-form__group row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-lg-10">
                    <div class="col-lg-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-5">
                                <label for="exampleInputEmail1" class="control-label">Ad : </label>

                                @Html.TextBox("FirstName", null, new { @class = "form-control" })

                            </div>
                            <div class="col-lg-5">
                                <label for="exampleInputPassword1" class="control-label">Soyad : </label>
                                @Html.TextBox("LastName", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-5">
                                <label for="exampleInputPassword1" class="control-label">Telefon : </label>
                                @Html.TextBox("PhoneNumber", null, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-5">
                                <label for="exampleInputPassword1" class="control-label ">Adres : </label>
                                @Html.TextArea("Address", null, new { @class = "form-control" })
                            </div>
                        </div>

                    </div>

                </div>

                @*<div class="col-md-2">
                        <div>

                            <div style="margin:20px;">
                                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                {

                            @Html.TextBox("BarcodeImage", null, new { @ViewBag.lastId, @class = "form-control" })
                                                <input type="submit" value="BarcodeImage" class="btn btn-success" />}
                                <br />

                                @if (ViewBag.QRCodeImage != null)
                                {
                            <img src="@ViewBag.QRCodeImage" alt="" style="width:200px; height:200px;" />}

                            </div>

                        </div>
                    </div>*@

                <div class="col-lg-10">
                    <div class="col-lg-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-5">
                                <label for="exampleInputPassword1" class="control-label">Arıza Sebebi : </label>
                                @Html.TextBox("FaultReason", null, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5">
                                <label for="exampleInputPassword1" class="control-label">Kullanılan Malzeme : </label>
                                @Html.TextBox("UsedMaterial", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group m-form__group row">

                            <div class="col-lg-5">
                                <label for="exampleInputPassword1" class="control-label">Açıklama : </label>
                                @Html.TextArea("Explanation", null, new { @class = "form-control" })
                            </div>

                            <div class="col-lg-6">

                                <div style="display:flex;align-items:center;justify-content:center;width:145%;height:145%" class="form-group">

                                    <button type="submit" id="addcustom" class="btn btn-primary">EKLE</button>

                                </div>

                            </div>


                            <h2>&nbsp;</h2>
                            <div class="col-lg-5">


                                <label for="exampleInputPassword1" class="control-label">Karekod Alanı </label>
                                @Html.TextBox("lastId", (object)ViewBag.lastId, new { @class = "form-control", @readonly = "readonly" })
                                @Html.TextArea("text", (string)ViewBag.text, new { @class = "form-control", @style = "display:none" })
                                <br />

                                @if (ViewBag.QRCodeImage != null)
                                {
                                    <img src="@ViewBag.QRCodeImage" alt="" style="width:200px; height:200px;" />}

                            </div>


                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>}

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
        $(function () {
                toastr.success("@TempData["Message"]");
                toastr.options = {
                    "timeOut": "10000",
                    "showDuration": "10000",
                    "progressBar": true
                }

        });
</script>


